<!DOCTYPE html>
<head>
    <script
        src="https://kit.fontawesome.com/fc020f06d1.js"
        crossorigin="anonymous">
    </script>

    <style>
        .edit-product-section[data-visible="false"] {
            display: none;
        }

        .add-product-section[data-visible="false"] {
            display: none;
        }

        .cart-section[data-visible="false"] {
            display: none;
        }

        .cart-items {
            display: flex;
            flex-direction: column;
        }

        .cart-items-desc {
            display: flex;
        }
    </style>

    <body>
        <h1>Products</h1>
        <button class="add-buttton" onclick="addProduct()">Add</button>

        <table>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Quantity</th>
                <th>Manufacturer</th>
                <th>Edit</th>
                <th>Delete</th>
                <th>Add to Cart</th>
            </tr>
            {{range .Products}}
            <tr id="row-{{.Id}}">
                <td>{{.Id}}</td>
                <td>{{.Name}}</td>
                <td>
                    {{.Quantity}}
                </td>
                <td>{{.ManufacName}}</td>
                <td>
                    <button class="edit-button" onclick="editRow('row-{{.Id}}', '{{.ManufacName}}')">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </button>
                </td>
                <td>
                    <a href="/productdelete/?idvalue={{.Id}}">
                        <button class="delete-button">
                            <i class="fa-solid fa-trash"></i>
                        </button>
                    </a>
                </td>
                <td>
                    <button class="add-to-cart-button" onclick="addToCart({{.Name}})">
                        <i class="fa-solid fa-cart-shopping"></i>
                    </button>
                </td>
            </tr>
            {{end}}
        </table>


        <div data-visible="false" class="edit-product-section">
            <h4>Edit Entry</h4>
            <form action="/productedit/" method="POST">
                <label for="edit-id">Id:</label><br>
                <input type="text" id="edit-id" name="edit-id" value="" readonly><br>
                <label for="edit-name">Name:</label><br>
                <input type="text" id="edit-name" name="edit-name"><br>
                <label for="edit-quantity">Quantity:</label><br>
                <input type="text" id="edit-quantity" name="edit-quantity"><br>
                <label for="edit-manufacturer-header">Manufacturer:</label><br>
                {{range .Manufacturers}}
                <input type="radio" id="{{.Name}}-radio" name="edit-manufacturer" value="{{.Name}}">
                <label for="{{.Name}}-radio">{{.Name}}</label><br>
                {{end}}
                <input class="submit-button" type="submit" value="Submit">
            </form>
        </div>

        <div data-visible="false" class="add-product-section">
            <h4>Add Manufacturer</h4>
            <form action="/productadd/" method="POST">
                <label for="add-name">Name:</label><br>
                <input type="text" id="add-name" name="add-name"><br>
                <label for="add-quantity">Quantity:</label><br>
                <input type="text" id="add-quantity" name="add-quantity"><br>
                <label for="add-manufacturer-header">Manufacturer:</label><br>
                {{range .Manufacturers}}
                <input type="radio" id="{{.Name}}-radio" name="add-manufacturer" value="{{.Name}}">
                <label for="{{.Name}}-radio">{{.Name}}</label><br>
                {{end}}
                <input class="submit-button" type="submit" value="Submit">
            </form>
        </div>

        <div data-visible="false" class="cart-section">
            <h4>Section:</h4>
            <div class="cart-form">
                <div id="cart-items">
                    <div class="cart-items-desc">
                    </div>
                </div>
            </div>
            <button id="checkout-button">Checkout</button>
        </div>

        <script>
            const editProductSec = document.querySelector(".edit-product-section");
            const addProductSec = document.querySelector(".add-product-section");
            const cartSec = document.querySelector(".cart-section");

            let url;

            let productsInCart = [];

            function editRow(rowId, Name) {
                let row = document.getElementById(rowId);
                let cells = row.getElementsByTagName("td");
                let radioId = Name + "-radio"

                console.log(radioId)

                const visibility = editProductSec.getAttribute("data-visible");
                if (visibility === "false") {
                    editProductSec.setAttribute("data-visible", true);
                }

                document.getElementById("edit-id").setAttribute("value", cells[0].innerText);
                document.getElementById("edit-name").value = cells[1].innerText;
                document.getElementById("edit-quantity").value = cells[2].innerText.match(/\d+/g).map(Number);
                document.getElementById(radioId).checked = true;
            }

            function addProduct() {
                const addButton = document.querySelector(".add-button");
                const visibility = addProductSec.getAttribute("data-visible");
                if (visibility === "false") {
                    addProductSec.setAttribute("data-visible", true);
                }
            }

            function addToCart(name, quantity) {
                const visibility = cartSec.getAttribute("data-visible");
                if (visibility === "false") {
                    cartSec.setAttribute("data-visible", true);
                }

                if (!productsInCart.includes(name)) {
                    productsInCart.push(name);
                    let cartItem = createCartItem(name, quantity);

                    let cartItems = document.getElementById("cart-items");
                    cartItems.appendChild(cartItem);
                }
            }

            function createCartItem(name, quantity) {
                var cartItemDesc = document.createElement("div");
                cartItemDesc.classList.add("cart-items-desc");

                var cartItemName = document.createElement("div");
                cartItemName.classList.add("cart-item-name");
                cartItemName.textContent = name;

                var cartItemQuantity = document.createElement("div");
                cartItemQuantity.classList.add("cart-item-quantity");
                cartItemQuantity.textContent = quantity;

                cartItemDesc.appendChild(cartItemName);
                cartItemDesc.appendChild(cartItemQuantity);

                return cartItemDesc;
            }



            document.getElementById("checkout-button").addEventListener("click", function() {
                let productNames = productsInCart.toString();
                window.location.href = `http://localhost:8080/transactions?names=${productNames}`;
            });
        </script>

    </body>
</head>
