<!DOCTYPE html>
<head>

    {{template "cssBootstrap" .}}


    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="mx-5">
            <a class="navbar-brand" href="#">Storeapp</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/manufacturer">Manufacturer</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/product">Products</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <h1 class="text-center">Transactions</h1>

    <body>
        <div class="table-responsive mx-5">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Quantity</th>
                    </tr>
                </thead>
                <tbody>
                    {{range $index, $element := .Transactions}}
                    <tr>
                        <td>{{.Name}}</td>

                        <td>
                            {{ $id := printf "quantity-count-%d" $index }}
                            <button
                                type="button"
                                class="btn btn-light"
                                onclick="reduceQuantity('{{$id}}')">
                                <i class="fa-solid fa-minus"></i>
                            </button>
                            <span id="quantity-count-{{$index}}">1</span>
                            <button 
                                type="button"
                                class="btn btn-light"
                                onclick="increaseQuantity('{{$id}}')">
                                <i class="fa-solid fa-plus"></i>
                            </button>
                        </td>
                    </tr>
                    {{end}}
                </tbody>
            </table>
        </div>

        {{template "fontawesomeBootstrap" .}}
        {{template "jsBootstrap" .}}
        <script>
            function reduceQuantity(elementId) {
                var spanElement = document.getElementById(elementId);
                var currentQuantity = parseInt(spanElement.textContent);
                if (currentQuantity > 1) {
                    spanElement.textContent = (currentQuantity - 1).toString();
                }
            }

            function increaseQuantity(elementId) {
                var spanElement = document.getElementById(elementId);
                var currentQuantity = parseInt(spanElement.textContent);
                spanElement.textContent = (currentQuantity + 1).toString();
            }
        </script>

    </body>
</head>
